*-debug.log
*-error.log
.oclif.manifest.json
communititesSettingPage.png
AfterSave.png
example.png
ReadFile.js
scratchOrg.png
solution.soql
/dist
/lib
/package-lock.json
/tmp
node_modules
/NewOutputFolder
/output
/output-data
/OutputFolder
/sampleFolder
/sampleFolder2
/sampleInput
/testoutput
.vscode
